@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed';
@import 'https://fonts.googleapis.com/css?family=PT+Sans';
section, footer {min-width: 915px}

body {
    font-family: 'PT Sans', verdana, sans-serif;
}

header {
    height: 100px;
    margin: 0 auto;
    max-width: 1920px;
}

header nav {
    background: linear-gradient(#EEDBBC, #fff, #EEDBBC);
    height: 100px;
    width: inherit;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

header nav > ul {
    float: right;
    margin: 0 5% 0 auto;
    padding: 0;
    height: inherit;
}

header nav li  {
    color: rgb(74,83,90);
    height: inherit;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0 2em;
    transition: all 0.2s linear;
}

header nav li:nth-of-type(1) {
    background: #CC5335;
    color: rgb(238, 219, 188);
}

header nav li:hover {
    background: #CC5335;
    color: rgb(238, 219, 188);
}

header nav li > a {
    display: block;
    font: bold 1.4em  'Roboto', verdana, sans-serif;
    text-decoration: none;
    color: inherit;
    margin: 35px 0 0 0;
}




section{
    width: 900px;
    margin: 20px auto;
    background: #45709A;
    color: #FEFBE8;
    overflow: hidden;
}

h1, h2, h5 {
    margin: 10px;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
}

h2{
    font-size: 1.8em;
    text-align: center;
}

table {
    font-size: 1.1em;
    width: 860px;
    color: #555;
    margin: auto;
    border-collapse: collapse;
    background: rgb(238, 219, 188);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

tr, th, td {
    padding: 10px;
    text-align: left;
}

table, th {
    border: solid 2px #555;
}

th {
    border-left: none;
    border-right: none;
    background: rgb(204, 83, 53);
    color: #fff4cf;
    font-weight: 600;
    text-align: center;
}

tr:nth-of-type(2n) {
    background: #fff4cf;
}

tr:hover, a:hover {
    background: #ddd;
    cursor: pointer;
}

section a {
    display: block;
    background: #FEFBE8;
    height: 30px;
    width: 170px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(74,83,90);
    line-height: 30px;
    margin: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}





form ul li {
    margin: .9em 0 0 0;
}

form *:focus {
    border: 2px solid rgb(204, 83, 53);
}

input.pole, textarea {
    display: block;
    margin: 0;
    padding: .4em;
    width: 80%;
    font-size: .9em;
    background: palevioletred;
}

label {
    display: block;
    float: left;
    clear: left;
    text-align: right;
    width: 15%;
    padding: .4em 0 0 0;
    margin: .15em .5em 0 0;
}

input.pole, textarea, .date {
    border: 2px solid rgb(74,83,90);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input.pole:valid, textarea:valid {
    background: #FEFBE8;
}

.buttons {
    text-align: center;
    margin: 40px 0;
}

input[type="submit"] {
    display: inline;
    margin: 0 20px;
    width: 12em;
    padding: 10px;
    border: 2px solid #7c412b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    color: #FEFBE8;
    background: rgb(204, 83, 53);
    font-weight: bold;
    -webkit-appearance: none;
}

input[type="submit"]:hover, input[type="submit"]:active {
    cursor: pointer;
    background: #FEFBE8;
    color: #ef7d50;
}

input[type="submit"]:active {
    background: #FEFBE8;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}




div.picture{
    width: 850px;
    margin: 20px auto;
}

div.picture > div:nth-of-type(1){
    width: 300px;
    float: left;
}

div.picture > div:nth-of-type(2){
    width: 500px;
    float: right;
}

div.picture > div:nth-of-type(2) > img{
    max-width: 500px;
}

a.delImg{
    position: absolute;
}






.error{
    color: red;
    text-align: center;
    font-size: 1.5em;
}

.saved{
    color: chartreuse;
    text-align: center;
    font-size: 1.5em;
}
