
#home {
    background: url(../img/slider1.jpg) 50% 0 no-repeat fixed;
    background-position: 50% 100px;
    min-height: 750px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}

#home article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
}

#about {
    background: tomato 50% 0 no-repeat fixed;
    min-height: 1100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
}

#third {
    background: url(../img/gand.jpg) 50% 0 no-repeat fixed;

    min-height: 750px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#forty {
    background: darkcyan;
    min-height: 650px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}